<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leyou.dao.BrandMapper">

  <select id="findBypages" resultType="com.leyou.pojo.Brand">
    SELECT * FROM tb_brand b

    <where>
        <if test="key != null and key != ''">
            (name like '%${key}%' or
            letter =#{key})
        </if>
    </where>
      <if test="sortBy != null and sortBy != ''">
          order by ${sortBy}
      </if>
      <if test="desc">
          desc
      </if>
  </select>



    <select id="findByCount" resultType="long">
        SELECT count(*) FROM tb_brand b

        <where>
            <if test="key != null and key != ''">
                (name like '%${key}%' or
                letter =#{key})
            </if>
        </where>
        <if test="sortBy != null and sortBy != ''">
            order by ${sortBy}
        </if>
        <if test="desc">
            desc
        </if>

    </select>


    <select id="findByLimit" resultType="com.leyou.pojo.Brand">
        SELECT * FROM tb_brand b

        <where>
            <if test="key != null and key != ''">
                (name like '%${key}%' or
                letter =#{key})
            </if>
        </where>
        <if test="sortBy != null and sortBy != ''">
            order by ${sortBy}
        </if>
        <if test="desc">
            desc
        </if>
        limit #{pages},#{rows}
    </select>

</mapper>